body {
	color: #B9C1A5;
	background-color: #363832;
	font-family: dejavu;
	padding-left: 200px;
	padding-right: 200px;
}

#PaddedH3 {
	padding-left: 40px;		
}

#PaddedH3 a {
	color: #B9C1A5;
	text-decoration: none;
}

#PaddedParagraph {
	padding-left: 80px;
}

#Return {
	color: #B9C1A5;
	text-decoration: none;
}

.box {
	width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
}

.red {
	background: #B9C1A5;
	color: #363832;
}

h3 {
	color: #B9C1A5;
}
